*
{
    box-sizing: border-box;
}
body
{
    background-color: black;
}
.content
{
    justify-content: center;
    flex: wrap;
    display:flex ;

}
.table
{
    overflow: auto;
    background-color: antiquewhite;
    width: 80%;
    height: 80vh;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}
.table ul
{
    list-style-type: none;
    display: inline-flex;
    
    
  

}
.table ul li
{
   
}

.head
{
    font-size: 25px;
    width: 100%;
    justify-content: center;
    flex: wrap;
    display:flex ;
    padding-top: 0;
}
.head .delete
{
    background-color: transparent;
    border: 0;
    cursor: pointer;
    transition: .5s;
}
.head .delete:hover{
    transform: scale(1.1);
}





.total
{
    justify-content: center;
    flex: wrap;
    display:flex ;
  
}
.total .bar
{
    width: 80%;
    height: 10vh;
    background-color: antiquewhite;
    margin-top: 10px;
    padding: 10px;
    float: right;
    font-size: 20px;
    padding-left: 54%;
}
.btnout
{
    justify-content: center;
    flex: wrap;
    display:flex ;
}
.btn
{
    margin-top: 5px;
    float: right;
    width: 40%;
}
.btn button{
   height: 30px;
   border: 1px solid rgb(255, 255, 255);
   background-color: transparent;
   color: white;
   transition: .5s;
}
.btn button:hover{
    background-color: white;
    color: black;
}